html {
    height: 100%;
}

body {
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.joy-con-left {
    display: flex;
    flex-direction: column;
    /* width: 300px;
    height: 300px; */
    /* background-color: beige; */
}

.analog-pad {
    width: 100px;
    height: 100px;
    background-color: #0AB9E6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50%;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-interior {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 100%;
    border: 2px solid rgb(92, 90, 90);
}

.pad {
    width: 100px;
    height: 100px;
    background-color: #0AB9E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blank-pad {
    width: 20px;
    height: 20px;
}

.black-pad {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 5px;
}

.bottom-left-joy-con {
    width: 100px;
    height: 100px;
    background-color: #0AB9E6;
    border-bottom-left-radius: 50%;
}

.bottom-left-joy-con {
    display: flex;
    justify-content: flex-end;
}

.prueba {
    margin-right: 5px;
}

.prueba-right {
    margin-left: 5px;
}

.screen {
    width: 450px;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-screen {
    width: 420px;
    height: 270px;
    background-color: rgb(23, 21, 21);
}

.buttons {
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50%;
}

.margin-buttons {
    margin-top: 15px
}

.analog-pad-right {
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-right-joy-con {
    width: 100px;
    height: 100px;
    background-color: red;
    border-bottom-right-radius: 50%;
}

.blank-button {
    width: 20px;
    height: 20px;
}

.black-button {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100px;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
}