html{
    height: 100%;
}

body {
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    /* width: 300px;
    height: 300px; */
    /* background-color: beige; */
}

.analog-pad {
    width: 100px;
    height: 100px;
    background-color: #0AB9E6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50%;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-interior {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 100%;
    border: 2px solid rgb(92, 90, 90);
}

.pad {
    width: 100px;
    height: 100px;
    background-color: #0AB9E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blank-pad {
    width: 20px;
    height: 20px;
}

.black-pad {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 5px;
}

.bottom-left-joy-con {
    width: 100px;
    height: 100px;
    background-color: #0AB9E6;
    border-bottom-left-radius: 50%;
}
